* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
textarea,
button,
input,
label {
  font-family: "Raleway" sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
