$color-bg-auth: #f1f1f1;
$color-light-grey: #969696;
$color-primary: #33414e;
$color-secondary: #33414e;
$color-badge: #ffc06a;
$color-selected: #293744;
$color-green: #57df86;
$color-dark-blue: #2b3845;
$color-medium-purple: #515974;
$color-grey-medium: #5a5a5a;
$color-grey-light: #d5d5d5;

// Input intern
$color-input-intern-bg: #f8f8f8;
$color-input-intern-border: #e8e9ec;
$color-input-intern-placeholder: #808080;

// CheckboxInter
$color-checkbox-border-unchecked: #ecedef;
$color-checkbox-border-checked: $color-green;
